*{
    margin: 0;
    padding: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.container{
    width:85% ;
    max-width: 1360px;
    margin: 0 auto;
}
/* Shared Style */
.btn{
    background-color: #469165;
    color: #fff;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.btn:hover{
    background-color: rgb(9, 152, 241);
}
.green-color{
    color: #30B868;
}

/* Header Section */
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
    
}

.header-top .header-logo img{
   max-width: 139px;
}
.header-top .menu ul{
   display: flex;
   gap: 32px;
}
.header-top .menu ul li{
    list-style: none;
   
}
.header-top .menu ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
/* Header Banner */
.banner-section{
    align-items: center;
    text-align: center;
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 220px 0;
    margin: 0 auto;
}
.banner-content{
    width: 770px;
    margin: 0 auto;
}
.early-acces{
    color: #469165;
    margin-bottom: 25px;
    background-color: #fff;
    margin: 0 auto;
    max-width: 229px;
    padding: 8px 12px 8px 12px;
    border-radius: 100px;
    font-size: 16px;
    
}
.banner-text p{
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 32px;
}
.header-slogan h1{
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 16px;
}

/* Notes Section */
#notes-section{
    margin: 0 auto;
    text-align: center;
    padding: ;
}

.section-heading h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    padding: 100px 0  0;
    margin-bottom:16px ;
    text-transform: capitalize;
}

.section-heading p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}
.note-info{
    display: flex;
    gap: 24px;
    justify-content: space-between
    
}
.note-info .note-card {
    padding: 24px;
    box-shadow: 0 0 8px 0 #00000036;
    margin-top: 44px;
    border-radius: 5px;
}
.note-info .note-card img{
    background-color: #F95555;
    padding: 10px;
    border-radius: 50%;
}
.note-info .note-card h4{
    font-size: 24px;
    font-weight: 600;
    color: #000;
    margin-bottom: 16px;
}
.note-info .note-card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

/* Brain Section */
.brain-section{
    display: flex;
    align-items: center;
    padding: 120px 0;
}


.brain-content .p1{

text-transform: uppercase;

}
.brain-content .p2{color: #627382;line-height: 20px;font-size: 16px;margin-bottom: 40px;padding: 0 115px 0px 0px;}

.brain-content h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    text-transform: capitalize;
   margin-bottom: 15px;
}

.brien-image img {
    max-width: 600px;
}
.brain-content {
    padding: 0px 91px;
}
.brian-list img {
    vertical-align: middle;
}
.brian-list  {
    font-size: 16px;
    color: #001931;
    margin-bottom: 16px;
}
.brian-list p {
    margin-bottom: 16px;
}
.early-access{
    background-color: #F7F6F2;
    text-align: center;
    padding: 80px 40px;
}
.early-access h2 {
    font-size: 40px;
    font-weight: bold;
}

.early-access p {
    font-size: 16px;
    color: #627382;
    margin: 16px 0;
    line-height: 24px;
}
/* Footer Section */
footer{
    background-color: #001931;
    color: #fff;
    text-align: center;
}
.footer-content p{
    color: #FAFAFA;
    font-size: 16px;
}
.footer-social{
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

.f-copyright {
    padding: 22px 0;
}

.f-copyright hr {
    margin-bottom: 30px;
    border: navajowhite;
    background-color: #425f78;
    height: 1px;
}
.footer-social h4 {
    font-size: 20px;
    margin-bottom: 11px;
}

.footer-icon  {
    justify-content: space-between;
}
.footer-icon i {
    padding: 0px 8px;
}