* {
    margin: 0px;
    padding: 0px;
}

.inter-font {
    font-family: Inter, sans-serif;
    font-optical-sizing: auto;
}

.container {
    width: 85%;
    max-width: 1360px;
    margin: 0px auto;
}

.btn {
    background-color: rgb(70, 145, 101);
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-color {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
}

.btn:hover {
    background-color: rgb(9, 152, 241);
}

.green-color {
    color: rgb(48, 184, 104);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.header-top .header-logo img {
    max-width: 139px;
}

.header-top .menu ul {
    display: flex;
    gap: 32px;
}

.header-top .menu ul li {
    list-style: none;
}

.header-top .menu ul li a:hover {
    border: 1px solid green;
}

.header-top .menu ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.banner-section {
    align-items: center;
    text-align: center;
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: rgb(255, 255, 255);
    padding: 220px 0px;
    margin: 0px auto;
}

.banner-content {
    width: 770px;
    margin: 0px auto;
}

.early-access-top button {
    background-color: rgb(255, 255, 255);
    margin: 0px auto;
    max-width: 229px;
    padding: 8px 12px;
    border-radius: 100px;
    font-size: 16px;
    border: none;
}

.early-access-top a {
    text-decoration: none;
    color: rgb(70, 145, 101);
}

.early-access-top img {
    width: 13px;
    margin-right: 6px;
}

.banner-text p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 32px;
}

.header-slogan h1 {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 16px;
}

.section-heading h2 {
    font-size: 48px;
    font-weight: 700;
    color: rgb(0, 25, 49);
    padding: 100px 0px 0px;
    margin-bottom: 16px;
    text-transform: capitalize;
}

.section-heading p {
    color: rgb(98, 115, 130);
    font-size: 16px;
    line-height: 20px;
}

#notes-section {
    margin: 0px auto;
    text-align: center;
    background-color: #FBFBFB;
}

.note-info {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.note-info .note-card {
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 8px 0px;
    margin-top: 44px;
    border-radius: 5px;
}

.note-info .note-card img {
    background-color: rgb(249, 85, 85);
    padding: 10px;
    border-radius: 50%;
}

.note-info .note-card h4 {
    font-size: 24px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-bottom: 16px;
}

.note-info .note-card p {
    font-size: 16px;
    line-height: 20px;
    color: rgb(98, 115, 130);
}

.brain-section {
    display: flex;
    align-items: center;
    padding: 120px 0px;
}

.brain-content .p1 {
    text-transform: uppercase;
}

.brain-content .p2 {
    color: rgb(98, 115, 130);
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 40px;
    padding: 0px 80px 0px 0px;
}

.brain-content h2 {
    font-size: 48px;
    font-weight: 700;
    color: rgb(0, 25, 49);
    text-transform: capitalize;
    margin-bottom: 15px;
}

.brien-image img {
    max-width: 600px;
}

.brain-content {
    padding: 0px 91px;
}

.brian-list img {
    vertical-align: middle;
    margin-right: 7px;
}

.brian-list {
    font-size: 16px;
    color: rgb(0, 25, 49);
    margin-bottom: 16px;
}

.brian-list p {
    margin-bottom: 16px;
}

.early-access {
    background-color: rgb(247, 246, 242);
    text-align: center;
    padding: 80px 40px;
    margin-bottom: 120px;
}

.early-access h2 {
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
}

.early-access p {
    font-size: 16px;
    color: rgb(98, 115, 130);
    margin: 16px 0px;
    line-height: 24px;
}

footer {
    background-color: rgb(0, 25, 49);
    color: rgb(255, 255, 255);
    text-align: center;
}

.footer-content p {
    color: rgb(250, 250, 250);
    font-size: 16px;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    padding: 80px 0px;
}

.f-copyright {
    padding: 22px 0px;
}

.f-copyright hr {
    margin-bottom: 30px;
    border: navajowhite;
    background-color: rgb(66, 95, 120);
    height: 1px;
}

.footer-social h4 {
    font-size: 20px;
    margin-bottom: 11px;
}

.footer-icon {
    justify-content: space-between;
}

.footer-icon a i {
    padding: 3px 2px;
    border-radius: 50%;
    color: black;
    background-color: rgb(255, 255, 255);
    margin-right: 8px;
}
